* {
    margin: 0;
    padding: 0;
}



.border {

    background-color: #d6d6d6;
    width:  450px;
    height: 450px; 
    border: 10px double black;
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;

}
.one {
    width: 50px;
    height: 50px;
    border-bottom: 4px dotted black;
    border-right: 4px dotted black;
    line-height: 50px;
    text-align: center;
    display: inline;
    font-size: 25px;
    color: blue;
    font-family: 'Press Start 2P', cursive;
   


    
}

.two {
    width: 50px;
    height: 50px;
    border-bottom: 4px dotted black;
    border-right: 4px dotted black;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    color: green;
    font-family: 'Press Start 2P', cursive;



}

.three {
    width: 50px;
    height: 50px;
    border-bottom: 4px dotted black;
    border-right: 4px dotted black;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    color: red;
    font-family: 'Press Start 2P', cursive;



}

.boom {
    width: 50px;
    height: 50px;
    border-bottom: 4px dotted black;
    border-right: 4px dotted black;
    line-height: 50px;
    text-align: center;
 
    
}

.none {

    background-color: #b5b0b0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    color: #b5b0b0;
    
}


.bomb {

    background-color: #b5b0b0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;


}



/* ########################HOVER###################### */


.none:hover {

    visibility: hidden;
    background-color: #d6d6d6;
}

.one:hover {

    visibility: visible;
    color:blue;
    font-family: 'Press Start 2P', cursive;
    background-color: #d6d6d6;
}

.two:hover {

    visibility: visible;
    color: green;
    font-family: 'Press Start 2P', cursive;
    background-color: #d6d6d6;
}

.three:hover {

    visibility: visible;
    color: red;
    font-family: 'Press Start 2P', cursive;
    background-color: #d6d6d6;
}

.bomb:hover {

    visibility: visible;
    background-image: url("bomb.png");
    background-position: center;
    background-color: #d6d6d6;
    background-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;

}

